[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "==4.0.0a27"
ginza = "==5.1.2"
ja-ginza-electra = "==5.1.2"

[dev-packages]

[requires]
python_version = "3.10"
